.navbar{
    width: 480px;
    bottom: 0;
    position: fixed;
    height: 62px;
    background: #fff;
    color: #89cdff;
    border-radius: 12px 12px 0 0;
    border-top: 1px solid #f5f5f5;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
  
  }
  .navbar .navItem{
    flex: 0 0 25%;
    max-width: 25%;   
  }

  .navbar .link{
    height: 48px;
    font-size: 12px;
    font-family: serif;
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 2px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  
  }
  
  .navbar  .link  .nav__icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
  }
  .navbar .link span{
    text-align: center;
    font-size: 0.7rem;
    font-size: 12px;
    font-family: serif;
  }


  /* Ball css */

  .ball-box{
    width: 10%;
    padding: 5px;
    display: grid;
    justify-content: center;
    margin-bottom: 0.5rem!important;
  }
  .ball{
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 28px;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    box-shadow: rgb(0 0 0 / 40%) 0px 0px 5px;
    font-size: 16px;
    margin-bottom: 0.1rem !important;
  }
  .ball.RS{
    background: #fa3c09;
  }
  .ball.GS{
    background: #00c282;
  }
  .ball.QS{
    background: #f57c00;
  }
  .ball.NS{
    background: repeating-linear-gradient(0deg, #343a40, #546e7a 100px);
  }
  .ball.AS{
    background: #6298e8;
  }
  .ball.BS{
    background: #da393f;
  }
  .ball.TS{
    background: #ffa33b;
  }
  
  .ball span{
    position: relative;
  }
  .ball-num{
    margin: auto;
    font-size: 13px;
    color: #515151;
    font-weight: 500;
  }
  .vil {
    background-color: rgb(102, 85, 211);
    position: absolute;
    width: 14px;
    border-radius: 0 15px 15px 0;
    color: white;
    text-align: center;
    height: 28px;
    display: inline-block;
    box-shadow: rgb(0 0 0 / 40%) 0px 0px 2px;
}
.tpr {
  position: relative;
}

@media (min-width: 0px){.rcd-pillar {transform:scale(0.80);}}
@media (min-width: 320px){.rcd-pillar {transform:scale(0.86);}}
@media (min-width: 340px){.rcd-pillar {transform:scale(0.92);}}
@media (min-width: 360px){.rcd-pillar {transform:scale(1.00);}}
@media (min-width: 380px){.rcd-pillar {transform:scale(1.05);}}
@media (min-width: 400px){.rcd-pillar {transform:scale(1.10);}}
@media (min-width: 420px){.rcd-pillar {transform:scale(1.15);}}
  


/* Range */
form {
  --k: calc((var(--val) - var(--min))/
            (var(--max) - var(--min)));
  --pos: calc(1.125em + var(--k)*(100% - 2.25em));
  max-width: 100%;
  flex: 0 0 100%;
  filter: Saturate(var(--hl, 0));
  transition: filter 0.3s ease-out;
}
form {
  --hl: 1 ;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 100%;
  border-radius: 2.25em;
  cursor: pointer;
}
input[type=range]::-webkit-slider-container {
  -webkit-user-modify: read-write !important;
  height: 20px;
  border-radius: 0.75em;
  background: linear-gradient(#0093ff, #0093ff) 0/var(--pos) no-repeat,  #b6e0ff;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: solid 0.375em transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 5px #7d7d7d;
  background: linear-gradient(#c5c5c5, whitesmoke) padding-box, linear-gradient(#fbfbfb, #c2c2c2) border-box;
  cursor: pointer;
}


/* Wheel */
.wlrcd {
  display: inline-block;
  width: 16px;
  height: 32px;
  border-radius: 6px;
  margin: 0 1px;
  background: #f0f8ff;
  color: #000;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}
.wlb.blue {
  background: #3c96ff;
}
.wlb.red {
  background: #fa4359;
}
.wlb.green {
  background: #5ec221;
}
.wlb.black {
  background: #3b4859;
}


/* Bottom Dialog */

.backdrop{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.bottom-dialog{
  position:fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 480px;
  background-color: #fff;
  color: #666;
  font-family: sans-serif;
  border-radius: 8px 8px 0 0;
  animation: .3s ease-out 0s 1 slideinfrombottom;
  z-index: 1000;
}
@keyframes slideinfrombottom{
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
  }
  
  .dialog{
    color: #1565c0;
    height: 46px;
    line-height: 46px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }
  .dialog.red{
    color: #e54d42;
    background: none;
    box-shadow: none;
  }
  .dialog.green{
    color: #39b54a;
    background: none;
    box-shadow: none;
  }
  .dialog.violet{
    color: #6739b6;
    background: none;
    box-shadow: none;
  }
  .bfard{
    margin: 0 10px;
    height: 49px;
    line-height: 49px;
    border-radius: 12px;
    background: #e6e6e6;
    display: flex;
  }
.bfard-txt{
  font-family: sans-serif;
  font-size: 20px;
  color: #383b45;
  padding-right: 15px;
  padding-left: 15px ;
  text-align: left;
}
.bfard-btn{
  display: flex;
  padding-right: 0.25rem!important;
  padding-top: 0.25rem!important;
  justify-content: right;
}
.tf-28{
  font-size: 28px;
}
.rc-wal {
  text-align: center;
  line-height: 40px;
  color: #fff;
  height: 40px;
  width: -webkit-fill-available;
  max-width: 100px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 0 10px;
}
.rc-wal {
  background:#0093ff ;
}
.contract-row{
  padding: 10px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-12{
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.cont-amt {
  width: 60px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}
.cont-amt.violet{
  color: #6739b6;
  border-bottom: 2px solid;
  background: none;
  box-shadow: none;
}
.cont-amt.red{
  color: #e54d42;
  border-bottom: 2px solid;
  background: none;
  box-shadow: none;
}
.cont-amt.green{
  color: #00c282;
  border-bottom: 2px solid;
  background: none;
  box-shadow: none;
}

.num-row{
  padding: 10px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.silb{
  display: inline-block;
  margin-right: 0.5rem!important;
}
.num-row-box{
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.col-5 {
  display: flex;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.xpan{
  width: 50px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.xtl{
  display: flex;
  justify-content: left;
  padding-left: 15px;
}
.xtc{
  display: flex;
  justify-content: center;
}
.xtr{
 padding-right: 15px;
  display: flex;
  justify-content: right;
}
.xnum {
  font-size: 28px;
  color: rgb(250, 60, 9);
  font-weight: 700;
}
.mt-2{
  margin-top: 0.5rem !important;
}
.tf-16{
  font-size: 16px;
}
.btn-row{
  margin-bottom: 0.5rem!important;
}
.btn-con.newod{
  color: #fff;
  background: #0093ff;
  box-shadow: #0000004d 0px 0px 8px;
  border-radius: 8px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.btn-con.newod.green {
  background: #00c282;
}
.btn-con.newod.red {
  background: #fa3c09;
}
.btn-con.newod.violet {
  background: #6655d3;
}
@media (max-width: 767px){
    .navbar{
        flex: 0 0 50%;
        width: 100%;
        max-width: 100%;
      } 
      .bottom-dialog{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }